@use 'points.scss' as *;

*{
  margin: 0;
  padding: 0;

}
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.image{
  width: 100%;
}

.block_text{
  text-align: center;
}
.block{
  text-align: center;
  margin: 5px;
  display: block;
  width: 50%;
}
.block_img{
  width: 100%;
}

h1{
  margin:10px;
}
p{
  margin: 10px;
}
.system{
  display: flex;
  flex-direction: row;
}

@media(max-width: $breakpoint){
  .system{
    flex-direction: column;
  }
  .block{
    width: 100%;
  }
}
